/* 全域設定 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  background: linear-gradient(#ffeec9, #ffd9e8);
  color: #4a